networkx==1.11
numpy==1.14.5
absl-py              0.11.0
asn1crypto           0.22.0
astor                0.8.1
backports.weakref    1.0.post1
certifi              2016.2.28
cffi                 1.10.0
conda                4.3.30
decorator            4.4.2
enum34               1.1.6
funcsigs             1.0.2
futures              3.3.0
gast                 0.4.0
grpcio               1.35.0
h5py                 2.10.0
idna                 2.6
ipaddress            1.0.18
Keras-Applications   1.0.8
Keras-Preprocessing  1.1.2
Markdown             3.1.1
mock                 3.0.5
networkx             1.11
numpy                1.14.5
packaging            16.8
Pillow               6.2.2
pip                  20.3.4
protobuf             3.15.1
pycosat              0.6.2
pycparser            2.18
pyOpenSSL            17.0.0
pyparsing            2.2.0
PyYAML               3.11
requests             2.14.2
scikit-learn         0.19.1
scipy                1.1.0
setuptools           36.4.0
six                  1.10.0
tensorboard          1.13.1
tensorboard-logger   0.1.0
tensorflow           1.8.0
tensorflow-estimator 1.13.0
tensorflow-gpu       1.13.1
termcolor            1.1.0
torch                1.4.0
tqdm                 4.55.1
Werkzeug             1.0.1
wheel                0.36.2
