graph.pbtxt filter=lfs diff=lfs merge=lfs -text
model.ckpt-176702.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
model.ckpt-180036.index filter=lfs diff=lfs merge=lfs -text
model.ckpt-181703.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
model.ckpt-178369.index filter=lfs diff=lfs merge=lfs -text
model.ckpt-180036.meta filter=lfs diff=lfs merge=lfs -text
model.ckpt-176702.index filter=lfs diff=lfs merge=lfs -text
model.ckpt-176702.meta filter=lfs diff=lfs merge=lfs -text
model.ckpt-178369.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
model.ckpt-178369.meta filter=lfs diff=lfs merge=lfs -text
model.ckpt-180036.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
model.ckpt-181703.meta filter=lfs diff=lfs merge=lfs -text
model.ckpt-183370.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
model.ckpt-183370.index filter=lfs diff=lfs merge=lfs -text
events.out.tfevents.1578960791.phantom filter=lfs diff=lfs merge=lfs -text
model.ckpt-181703.index filter=lfs diff=lfs merge=lfs -text
model.ckpt-183370.meta filter=lfs diff=lfs merge=lfs -text
