1580553991 filter=lfs diff=lfs merge=lfs -text
1580554162 filter=lfs diff=lfs merge=lfs -text
checkpoint filter=lfs diff=lfs merge=lfs -text
model.ckpt-12000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
model.ckpt-12000.index filter=lfs diff=lfs merge=lfs -text
model.ckpt-15000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
model.ckpt-16000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
1580553459 filter=lfs diff=lfs merge=lfs -text
1580554424 filter=lfs diff=lfs merge=lfs -text
graph.pbtxt filter=lfs diff=lfs merge=lfs -text
model.ckpt-13000.index filter=lfs diff=lfs merge=lfs -text
model.ckpt-15000.index filter=lfs diff=lfs merge=lfs -text
model.ckpt-15000.meta filter=lfs diff=lfs merge=lfs -text
1580553293 filter=lfs diff=lfs merge=lfs -text
1580553704 filter=lfs diff=lfs merge=lfs -text
1580553892 filter=lfs diff=lfs merge=lfs -text
model.ckpt-14000.meta filter=lfs diff=lfs merge=lfs -text
model.ckpt-16000.meta filter=lfs diff=lfs merge=lfs -text
1580553210 filter=lfs diff=lfs merge=lfs -text
1580554342 filter=lfs diff=lfs merge=lfs -text
model.ckpt-12000.meta filter=lfs diff=lfs merge=lfs -text
model.ckpt-14000.index filter=lfs diff=lfs merge=lfs -text
1580553376 filter=lfs diff=lfs merge=lfs -text
model.ckpt-13000.meta filter=lfs diff=lfs merge=lfs -text
1580553539 filter=lfs diff=lfs merge=lfs -text
1580553622 filter=lfs diff=lfs merge=lfs -text
1580553784 filter=lfs diff=lfs merge=lfs -text
1580554075 filter=lfs diff=lfs merge=lfs -text
1580554252 filter=lfs diff=lfs merge=lfs -text
1580554505 filter=lfs diff=lfs merge=lfs -text
events.out.tfevents.1580553207.phantom filter=lfs diff=lfs merge=lfs -text
model.ckpt-14000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
model.ckpt-16000.index filter=lfs diff=lfs merge=lfs -text
model.ckpt-13000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
